
body {
    font-size: 15px;
    padding-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    min-width: 100%;
    max-height: 80%;
    position: fixed;
    height: 30px;
    top: 0;
    left: 0;
    padding-top: 4%;
    padding-bottom: 3%;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button{
    cursor: pointer;
    width: 100px;
    height: 100px;
}
input{
    width: 200px;
    height: 20px;
    text-indent: 5px;
    border-style: solid;
    border-color: #ddd;  
    border-radius: 5px;

}
#addItemSubmit{
    margin-left: 2px;
    font-size: 10px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    border-color:green;
    border-radius: 5px;
}
#addItemSubmit:hover{
    background-color: #4cae4c;
}
#addAdminSubmit{
    margin-left: 2px;
    font-size: 10px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    border-color:green;
    border-radius: 5px;
}
#addAdminSubmit:hover{
    background-color: #4cae4c;
}
#cancelAddItem{
    margin-left: 2px;
    font-size: 10px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    border-color:green;
    border-radius: 5px;
}
#cancelAddAdmin{
    margin-left: 2px;
    font-size: 10px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    border-color:green;
    border-radius: 5px;
}
#cancelAddItem:hover{
    border-color: black;
    color: white;
    background-color: firebrick;
}
#cancelAddAdmin:hover{
    border-color: black;
    color: white;
    background-color: firebrick;
}

.show-sidebar-button{
    margin-top: -37px;
    background-color: transparent;
    border: whitesmoke;
    border-radius: 50%;
}
.lost-logo {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;  
}  

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    font-size: 60%;
    margin-top: -18px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
    color: maroon;
    padding: 10px;
    padding-bottom: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.content {
    margin-top: 50px;
    order: 2;
    padding: 40px; 
    transition: margin-left 0.2s; 
    padding-right: 100px;
}
#addItemButton{
    font-size: 12px;
    float: right;
    cursor: pointer;
    width: 80px;
    height: 25px;
    margin-top: 20px;
    border-color:green;
    border-radius: 5px;
}
#addAdminButton{
    font-size: 12px;
    float: right;
    cursor: pointer;
    width: 80px;
    height: 25px;
    margin-top: 20px;
    border-color:green;
    border-radius: 5px;
}

#addItemButton:hover{
    background-color: #4cae4c;
}
#addAdminButton:hover{
    background-color: #4cae4c;
}
#picture-label{
    margin-right: 10px;
}
#picture{
    height: 25px;
    border: none;
    background-color: white;
    color: #4cae4c;
}